:root{
    --color2: aliceblue;
    --color1: rgb(78, 78, 120);
    --text1: aliceblue;
    --text2: aliceblue;
    
  }
  
  .App{
    border: none;
    margin: auto;
    width: 70%;
    /* padding: 20px; */
    /* box-sizing: border-box; */
    box-shadow: -18px 20px 30px 5px rgba(0, 0, 0, 0.734);
    
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
    */
    /* background-color: white; */
  }
  .top{
    display: flex;
  }
  .profile-img{
    /* padding: 40px; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    background-color: var(--color2);
  }
  .profile-img >img{
    border: none;
    /* border-radius: 50%; */
    /* box-shadow: -1px 1px 1px 1px black; */
  }
  .about-section{
    color: var(--text2);
    width: 70%;
    display: flex;
    background-color: var(--color1);
    
  }
  .bottom{
    display: flex;
    
  }
  .left{
    color: var(--text1);
    background-color: var(--color1);
    
    width: 30%;
    /* border-top: 1px solid rgba(165, 42, 42, 0.34); */
    padding: 30px;
  }
  
  .right{
    /* color: var(text1); */
    background-color: var(--color2);
    width: 70%;
    padding: 30px;
  
  }
  .btn{
    background-color: black;
    color:white;
    border: none;
    padding: 3px 8px;
    margin: 5px;
    position: fixed;
    right: 5px;
  
    bottom: 5px;
  }
  
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(red,yellow); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(fuchsia,purple); 
  }
  @media (width<1000px) {
    .App{
      width:98%;
      
    }
  }


  .resume{
    background-image: url('https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993_1280.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}